.columns {
  background-color: #65bd31;
}

.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
  --background-color: #0E8388;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (min-width: 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}

